
/*       AUNTY JIDDAH CATERING
==================================
Aunty Jiddah Ctering @ https://www.auntygiddahcatering.site
Licenced and active coppyrite Catering service
© 2020 Aunty Jid'dah. All rights reserved.
================================== */
* {
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    font-family: Lato,sans-serif;
    background-color: #343a40;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.theme::selection {
    background-color: #f5a637;
    color: white;
}
/*---SCROLL BAR---*/
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}
::-webkit-scrollbar-thumb {
    border: 5px solid #f0f0f0;
    background: #343a40;
}
::-webkit-scrollbar-thumb:hover {
    border: 2.5px solid #f0f0f0;
}
::-webkit-scrollbar-thumb:active {
    background: #f5a637;
}

/*       REGISTRATION START
==================================*/
/*---PC SETTINGS--*/
.registration {
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.registration-main {
    padding: 20px;
    height: fit-content;
    width: 400px;
    background-color: white;
    box-shadow: 0 10px 50px #151515;
    transition: all .5s;
}
.registration-main:hover {
    margin-bottom: -6px;
    box-shadow: 0 2px 10px #151515;
}
.registration-description {
    height: fit-content;
    max-width: 100%;
}
.registration-description h2 {
    display: block;
    color: #838383;
    font-family: Playfair Display,serif;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}
.registration-description p {
    padding: 10px 0 10px 0;
    max-width: 600px;
    display: block;
    color: #a7a7a7;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 20px;
}
.registration-form {
    height: fit-content;
    max-width: 100%;
}
.registration-form label {
    display: none;
}
.registration-form input {
    padding: 15px 15px;
    margin: 5px;
    border: 1px solid white;
    height: 5px;
    width: 70%;
    background-color: rgb(247, 247, 247);
    transition: border 1s;
    opacity: .8;
}
.registration input:hover {
    border: 1px solid #f5a637;
}
.registration input:active {
    border: 1px solid #f5a637;
}
.registration input:invalid {
    border: 1px solid red;
}
.registration input::placeholder {
    font-family: Playfair Display,serif;
    font-size: 16px;
    font-weight: 100;
}
.registration-form-button {
    margin: 10px;
    border: 1px solid transparent;
    height: 40px;
    width: 100px;
    background-color: rgba(245, 166, 55, 0.700);
    color: rgba(33, 37, 41, 0.700);
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    transition: color .5s;
}
.registration-button-cancel {
    border: none !important;
    background-color: transparent !important;
    color: #686b6e !important;
}
.registration button:hover {
    border: 1px solid rgba(245, 166, 55, 0.700);
    background-color: transparent;
    color: rgba(245, 166, 55, 0.700) !important;
}
.registration-form p {
    padding: 0 5px;
    display: inline-block;
    color: #a7a7a7;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
.registration-form a {
    color: #a7a7a7;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    transition: color .5s;
}
.registration-form a:hover {
    color: #f5a637;
}
/*       REGISTRATION END
==================================*/
/* © 2020 Aunty Jid'dah. All rights reserved. */